@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    background-color: #eed5d0;
    font-family: sans-serif;
}

h1{
    color: #cf2e12;
    font-size: 2em;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

h2{
    color: #324dc5;
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
}

h3{
    color: #3e79bd;
    font-size: 0.9em;
}

#pret-vechi{
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2.5px;
}

