body{
    font-size: 2.7em;
}

#parallax, #parallax2{
    background-image: url("picture.jpg");
    background-size: cover;
    background-position-y: -230px;
    height: 75vh;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
   }
   ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #fa8846 14%,#e6c029 64%);
    border-radius: 9px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 7px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
   }

