/* css reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    background-color: rgb(54, 54, 54);
    text-align: center;
    padding: 1em;
}

header li{
    display: inline;
}

a{
    display: inline-block;
    color: rgb(220, 220, 220);
    text-decoration: none;
    margin-right: 2em;
    transition-duration: 1s;
}

a:hover{
    color: rgb(238, 206, 63);
    transform: scale(1.1);
}

article{
    background-color: rgb(220, 220, 220);
    text-align: center;
    padding-bottom: 6em;
}

@keyframes colorize {
    from{ 
        color: black
    }
    to{
        color: rgb(238, 206, 63);
    }
}

h1{
    font-family: monospace;
    text-align: center;
    padding: 1.5em;
    animation-name: colorize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img{
    height: 45vh;
    transition-duration: 1s;
}

img:hover{
    transform: rotate(360deg);
    transform: translate(50px, 100px);
    transform: scale(1.1);
    opacity: 0.7;
}

article div{
    display: inline-block;
    vertical-align: middle;
}

article ul{
    list-style-type: none;
}

article li{
    padding: 2.5em;
}

input[type="button"]{
    background-color: orange;
    border-radius: 0.3em;
    border-style: none;
    padding: 0.3em 1em;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    background-color: rgb(39, 39, 39);
    text-align: center;
    color: #fff;
    padding: 4em 0;
}

footer p{
    margin-bottom: 2em;
}

