*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

img{
    object-fit: fill;
    background: no-repeat;
    background-position: center;
    animation: blur 10s linear infinite;
}

@keyframes blur {
    0% {
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}